.
..
PleaseDo.xcodeproj/project.xcworkspace/xcuserdata/rk.xcuserdatad/UserInterfaceState.xcuserstate
PleaseDo.xcodeproj/xcuserdata/rk.xcuserdatad/xcdebugger/
xcodeproj/xcuserdata/rk.xcuserdatad/xcschemes/xcschememanagement.plist